/*************************************************************************
 * Your custom CSS file
 *************************************************************************/
 
/*
@media screen and (min-width: 840px) {
  .flex-row {
    min-width: 840px;
  }
}
*/

/* CSS for built-in HTML elements */
html, body {
  margin: 0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: -100%;
}

/*body {
  padding-top: 5px; 
}*/

main {
  flex-grow: 1;
}

footer {
  position: sticky;
  top: 100vh;
  margin-top: auto;
}

/* flex-header (the header used in sections, not the site header) */

.flex-header {
  width: 100% !important;
}

/* Site Header CSS */

.menu-container {
  background-color: #eeeae0 !important;
  /*color: #344E41 !important; */
  position: fixed;
  top: 0;
  left: 0;  
  width: 100%;
  z-index: 1000;
}

.menu .menu-items>a,
.menu .menu-items>div,
.menu .menu-items>a::before,
.menu .menu-items>div::before {
  color: #344E41 !important;
}

#site-title {
  font-family: 'Prompt', Helvetica, sans-serif !important;
  color: #7da12d !important;
}

.custom-dropdown {
  width: 240px;
}

.custom-textbox {
  width: 240px;
}

/* Content CSS */
.content-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Footer Class CSS */
.footer-container
.banner {
  background-color: #eeeae0 !important;
  color: #344E41 !important;
}

.footer .footer-items>p,
.footer .footer-items>div {
  color: #344E41 !important;
}

.footer .footer-items>a {
  color: #005cbf !important;
}


/* Gallery CSS */
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  box-sizing: border-box;
  width: 100%;
  padding: 0 5px;
}

/* This stuff was already in the template */

#dialog-1,
#dialog-2,
#dialog-3,
#dialog-4,
#share-dialog {
  display: none;
}

#share-url {
  width: 100%;
  -webkit-touch-callout: default !important;
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

#share-url-copy-prompt {
  display: none;
  color: #007bff;
}
