
.icon-mail:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-reddit:before { content: '\f1a1'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
